.bottom > button {
    font-size: x-large;
}
 /* list */

.time {
    font-size: large;
}

.time:hover {
    cursor: pointer;
}

.time__tempo {
    font-size: x-large;
}

.time__voltas {
    font-size: x-large;
}

.time__bottom > button {
    font-size: large;

}
/* --------------------- */

/* posicoes */
#posicoes {
    border: 1px solid black;
    font-size: xx-large;
    background-color: white;
    box-shadow: 5px 5px 15px;
}
/* -------------------- */

/* tempoVoltas */

#tempoVoltas {
    background-color: white;
    font-size: x-large;
    border: 1px solid black;
    box-shadow: 5px 5px 15px;
    overflow: auto;
}


/* --------------------------------- */

/* superior button*/
.superior > button {
    font-size: large;
    padding: 1.3vh;
}
/* ----------------------------------- */