.superior {
    /* background-color: red; */
    text-align: center;
}

.meio {
    display: flex;
    margin-bottom: 2vh;
    justify-content: center;
    /* background-color: red; */
}

#list {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2vh;
    padding: 1vh;
    /* max-height: 90vh; */
}

.time {
    width: 70vw;
    padding: 2vh;
    /* margin-bottom: 2vh; */
}

.separacao {
    margin-left: -2vh;
    margin-right: -2vh;
}

.time__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time__top > h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    /* word-wrap: break-word; */
}

.time__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time__bottom > button {
    width: 30%;
    border-radius: 5px;
    padding: 1vh;
    /* padding-left: 10%;
    padding-right: 10%; */
}

#tempos {
    display: inline-flex;
    flex-direction: column;
}

#posicoes {
    position: absolute;
    display: none;
    flex-direction: column;
    padding: 2vh;
    margin: 2vh;
    box-shadow: 5px 5px 15px;
}

.bottom {
    text-align: center;
}

#tempoVoltas {
    display: none;
    position: fixed;
    width: 50%;
    background-color: blue;
    border: 1px solid black;
}